/* .satu {
    width: 200px;
    height: 200px;
    background-color: lightgreen;
}

.dua {
    width: 120%;
    background-color: aqua;
} */

div {
    width: 200px;
    height: 200px;
    background-color: pink;
    /* overflow: visible; */
    overflow: auto;
    /* overflow: hidden; */
    /* overflow: scroll; */
}