/* .navigasi {
    background-color: pink;
}

.main {
    background-color: lightgreen;
}

.main span {
    background-color: red;
} */

/* a {
    background-color: red;
    width: 200px;
    height: 200px;
    display: inline-block;
}

/* h1,
h2,
p {
    background-color: lightgreen;
} */

/* img {
    width: 200px;
    display: none;
} */

/* a {
    background-color: red;
}

.main {
    width: 600px;
    background-color: green;
}

.main h2 {
    background-color: pink;
} */

img {
    width: 200px;
}

.navigasi li {
    display: inline;
}