/* div {
    width: 300px;
    height: 300px;
    background-color: gold;
    opacity: 0.5;
} */

.satu {
    width: 300px;
    height: 300px;
    /* background-color: rgba(0, 217, 255, 0.3); */
    background-color: hsla(50, 100%, 50%, 0.5);
    position: relative;
}

.dua {
    width: 100px;
    height: 100px;
    background-color: indigo;
    position: absolute;
    bottom: -50px;
    right: -50px;
}