/* align-content */
/* Mengatur posisi seluruh grid container pada sumbu vertikal. */
/* Ini bisa dilakukan ketika ukuran total grid lebih kecil dari ukuran containernya, biasanya ketika grid items nya menggunakan ukuran yang fixed(px) */
/* align-content: start | end | center | stretch | space-around | space-between | space evenly */

html,
body {
    margin: 0;
    padding: 0;
    background: #f5f7f8;
}

.container {
    background-color: rgba(54, 54, 54, 0.493);
    width: 80%;
    height: 500px;
    margin: 50px auto;
    display: grid;
    grid: 80px 80px / 120px 180px 120px;
    gap: 5px;
    /* align-content: start; */
    /* align-content: end; */
    /* align-content: center; */
    align-content: stretch;
    /* align-content: space-around; */
    /* align-content: space-between; */
    /* align-content: space-evenly; */
}

.container div {
    width: 100px;
    height: 50px;
    color: white;
    font-size: 20px;
    /* padding: 50px; */
    display: flex;
    box-sizing: border-box;
    justify-content: center;
}


.item-1 {
    background: #3d8bb1;
}

.item-2 {
    background: #33a8a5;
}

.item-3 {
    background: #e03f3f;
}

.item-4 {
    background: #6a478f;
}

.item-5 {
    background: #da6f2b;
}

.item-6 {
    background: #b03532;
}

.item-7 {
    background: #30997a;
}

.item-8 {
    background: #59a627;
}

.item-9 {
    background: #4464a1;
}