body {
    background: url(image/1.png) lightblue no-repeat top center;

    /* background-color: lightblue;
    background-image: url(image/1.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    color: rgb(255, 0, 0); */
}