a {
    text-decoration: none;
    font-family: arial;
    font-weight: bold;
    color: #000;
}

a::after {
    content: " /";
}

a:first-child::before {
    content: " :: ";
}

a:last-child::after {
    content: "";
}